<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/new">Add new message</a>
    <% messages.forEach((message, index) => { %>
        <h4><%= 'From: ' + message.user  %></h4>
        <h3><%= message.text %></h3>  
        <p><%= message.added %></p>
        <a href="/message/<%= index %>">Open</a>
  <%  }) %>
</body>
</html>