<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% messages.forEach(message => { %>
        <h4><%= 'From: ' + message.user  %></h4>
        <h3><%= message.text %></h3>  
        <p><%= message.added %></p>
  <%  }) %>
</body>
</html>